{
   "semi": false,
   "singleQuote": true,
   "tabWidth": 3,
   "useTabs": false,
   "trailingComma": "es5",
   "printWidth": 100,
   "bracketSpacing": true,
   "arrowParens": "avoid",
   "endOfLine": "lf",
   "vueIndentScriptAndStyle": false,
   "singleAttributePerLine": false,
   "htmlWhitespaceSensitivity": "css"
}
